# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
crash.log

# Lock file
.terraform.lock.hcl

# Reports
reports/
drift-reviews/

# Python
__pycache__/
*.pyc

# Backup
*.bak
*.backup
